<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swiper Slider</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full">
    <div class="font-bold text-3xl">fuck</div>
  <div class="px-10">
    <div class="swiper w-full mx-auto">
        <div class="swiper-wrapper">
          <div class="swiper-slide flex justify-center items-center"><img class="w-full h-[500px] object-fill" src="https://firebasestorage.googleapis.com/v0/b/my-app-4c221.appspot.com/o/web%2Fimages%2Fbanner1.jpg?alt=media&token=3eb632f4-66a0-4960-aef2-24af69199547" /></div>
          <div class="swiper-slide flex justify-center items-center"><img class="w-full h-[500px] object-fillr" src="https://firebasestorage.googleapis.com/v0/b/my-app-4c221.appspot.com/o/web%2Fimages%2Fbanner.jpg?alt=media&token=d8f45201-6b80-4c1b-8d4e-2c9a4e8aebca" /></div>
          <div class="swiper-slide flex justify-center items-center"><img class="w-full h-[500px] object-fill" src="https://firebasestorage.googleapis.com/v0/b/my-app-4c221.appspot.com/o/web%2Fimages%2Fbanner3.jpg?alt=media&token=f4177f40-3742-44ab-8c02-20e6f2900a3d" /></div>
        </div>
        <!-- Remove navigation and pagination elements -->
      </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
        loop: true,
        autoplay: {
            delay: 3000, // Slide change delay in milliseconds
            disableOnInteraction: false, // Keeps autoplay active even after user interaction
        },
        });
    </script>
</body>
</html>
